[mysql]
; key_buffer_size + (read_buffer_size + sort_buffer_size)*max_threads = 344276 K bytes of memory

[mysqld]
;innodb_force_recovery=4

tmp_table_size=16777216
max_heap_table_size=16777216
key_buffer_size=20971520
read_buffer_size=131072
sort_buffer_size=2097152
wait_timeout=28800
net_read_timeout=30
net_write_timeout=60
interactive_timeout=28800
connect_timeout=10
max_connections=1024
max_heap_table_size=16777216
max_long_data_size=104857600


[mysqldump]
quick
quote-names
max_allowed_packet=104857600 # as live, 512M ; 1073741824 ;16M
